.musical-note {
    font-size: 24px;
    position: absolute;
    pointer-events: none; /* Ensure the notes do not interfere with clicks */
    opacity: 0.7; /* Adjust the opacity as needed */
    transform-origin: 50% 100%;
    animation: noteAnimation 0.5s ease-in-out infinite alternate;
}

@keyframes noteAnimation {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(-20px) rotate(10deg);
    }
}
